* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */

.nav-menu {
    display: flex;
    justify-content: center;
}

.menu {
    background: gold;
    color: black;
    padding: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    width: 12em;
    text-align: center;
    font-size: 1.4rem;
}

.subNav-menu {
    display: flex;
    justify-content: center;
    margin-top: 0.9em;
}

.sub-menu {
    background: skyblue;
    color: black;
    padding: 0.8rem;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    width: 8em;
    text-align: center;
    font-size: 1.35rem;
}

.active {
    background-color: yellowgreen;
}

.sub-active {
    background-color: indigo;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

.container {
    margin-top: 1em;
    font-size: 1.3rem;
    padding-block: 1rem;
    padding-inline: 2rem;
}

.heading-center {
    text-align: center;
}

.list-container {
    display: flex;
    align-items: first baseline;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: peachpuff;
    color: black;
    padding: 0.5rem;
    width: 8em;
    text-align: center;
    text-transform: capitalize;
}

.list:hover, .list:active {
    background-color: palevioletred;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                  Todo List                                 */
/* -------------------------------------------------------------------------- */

.list-container input {
    width: 1.5rem;
}

.todoList-actions {
    display: flex;
    margin-left: 1em;
}

.todoList-actions > button {
    min-width: 8rem;
    font-family: inherit;
    font-size: 1.2rem;
    margin-left: 2em;
    cursor: pointer;
}

.todoList-actions.project-list {
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                  Todo Item                                 */
/* -------------------------------------------------------------------------- */


.todo-item h1 {
    text-transform: capitalize;
}

.todo-item h3 {
    font-size: 1.5rem;
}

.todo-item div {
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 2em;
}

.todo-item a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: peachpuff;
    color: black;
    padding: 0.5rem;
    width: 10em;
    text-transform: capitalize;
}

.todo-item a:hover, .todo-item a:active {
    background-color: palevioletred;
    color: white;
}

.todo-item .action-container {
    display: flex;
    align-items: first baseline;
}

.todo-item .action-container .submit {
    margin-left: 1rem;
}

.tileList-container {
    display: flex;
}

.tileList-container .list-container{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid salmon;
    padding-bottom: 0.5rem;
}

.tileList-container .list-container .action-container {
    display: flex;
    flex-direction: column;
}

.tileList-container .list-container > .action-container  {
    width: 100%;
}

.tileList-container .list-container > .action-container .checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tileList-container .list-container > .action-container .submit {
    display: block;
    margin-inline: auto;
    width: 75%;
}


/* -------------------------------------------------------------------------- */
/*                              Create Todo Form                              */
/* -------------------------------------------------------------------------- */

.form-container {
    display: flex;
}

.form-title {
    padding: 0.5em;
    width: 20%;
    font-family: inherit;
    font-size: 1.2rem;
}

.form-description {
    padding: 0.5em;
    width: 30%;
    margin-inline: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
}

.submit {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 0.4rem;
    width: 10%;
    text-transform: capitalize;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
}

.submit:hover, .submit:active {
    background-color: indigo;
}

.project-delete {
    margin-top: -3em;
    margin-left: 0 !important;
}

/* -------------------------------------------------------------------------- */
/*                                  Check Box                                 */
/* -------------------------------------------------------------------------- */

.checkbox label, .checkbox input {
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    Radio                                   */
/* -------------------------------------------------------------------------- */

.radio {
    display: flex;
    margin-top: -0.8rem;
}

.radio-types {
    margin-right: 1.5em;
}

.radio-types.project-list {
    margin-right: 0.5rem;
}

.radio-types label {
    margin-left: 0.5rem;
    cursor: pointer;
}

.radio-types.project-list label {
    margin-left: 0.3rem;
}



/* -------------------------------------------------------------------------- */
/*                                    Home                                    */
/* -------------------------------------------------------------------------- */

.parallel-query-container {
    display: flex;
    flex-direction: column;
}

.parallel-query-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.parallel-query-row {
    display: flex;
    flex-wrap: wrap;
}

.parallel-query-list .list-container {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}

.parallel-query-list .list-container.todo {
    flex-basis: 20%;
}

.parallel-query-list .list-container.project {
    flex-basis: 25%;
}

.parallel-query-list .list-container .list-background {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    text-align: center;
}

.parallel-query-list .list-container .list-background button {
    margin-block: 1em;
}

.parallel-query-list .list-container.project  .list {
    width: 100%;
    margin-bottom: 1.5em;
}

.parallel-query-list .parallel-query-row {
    justify-content: center;
    margin-bottom: 1em;
}


/* -------------------------------------------------------------------------- */
/*                                 Pagination                                 */
/* -------------------------------------------------------------------------- */


.pagination {

}

.button-box .submit {
    margin-right: 1rem;
}

.button-box .submit.disabled {
    background: rgb(143, 130, 152);
    cursor: auto;
    
}

.loader {
    margin-top: 1.5em;
}

.loader span {
    font-size: 1.5rem;
}



